{% extends 'base.html.twig' %}

{% block title %}Reset
{% endblock %}

{% block body %}

	<div class="mx-auto mt-6">

		<p class="text-light text-center">
			If an account matching your email address exists, an email has just been sent containing a link you can use to reset your password.
			        This link will expire in
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>

		<p class="text-center text-light">If you do not receive an email, please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
	</div>

{% endblock %}