{% extends 'base.html.twig' %}

{% block title %}Legal Notice{% endblock %}

{% block body %}

    <div class="mx-auto py-4">
        <p class="text-light fw-bold text-center">Effective as of 11/27/2022</p>

        <div class="text-center text-light mb-5">
            <p>In accordance with the provisions of Articles 6-III and 19 of Law No. 2004-575 of June 21, 2004</p>
            <p>for Confidence in the digital economy, known as L.C.E.N., it is brought to the attention of users and visitors,</p>
            <p>hereinafter the "User", of the site www.imaginary-conception.com, hereinafter the "Site", these legal notices.</p>
            <p>The connection and navigation on the Site by the User implies full and unreserved acceptance of these legal notices.</p>
            <p>These are accessible on the Site under the heading “Legal notices”.</p>
        </div>

        <h4 class="fw-bold text-light text-center mb-5">ARTICLE 1 - THE EDITOR</h4>

        <div class="text-center text-light mb-5">
            <p>The editing and management of the publication of the Site is provided by Anis,</p>
            <p>whose contact email address is: imaginaryconception@gmail.com.</p>
            <p>hereinafter the "Editor".</p>
        </div>

        <h4 class="fw-bold text-light text-center mb-5">ARTICLE 2 - THE HOST</h4>

        <div class="text-center text-light mb-5">
            <p>Host of the Site is the company O2Switch, whose head office is located at 222 Bd Gustave Flaubert,</p>
            <p>63000 Clermont-Ferrand, France,</p>
            <p>with phone number: 0444446040</p>
        </div>

        <h4 class="fw-bold text-center text-light mb-5">ARTICLE 3 - ACCESS TO THE SITE</h4>

        <div class="text-center text-light mb-5">
            <p>The Site is accessible anywhere, 7 days a week, 24 hours a day, except in cases of force majeure, scheduled or unscheduled interruption.</p>
            <p>and which may result from a need for maintenance.</p>
            <p>In the event of modification, interruption or suspension of the Site, the Editor cannot be held responsible.</p>
        </div>

        <h4 class="fw-bold text-center text-light mb-5">ARTICLE 4 - DATA COLLECTION</h4>

        <div class="text-center text-light mb-5">
            <p>The Site provides the User with the collection and processing of personal information with respect for privacy</p>
            <p>in accordance with law n°78-17 of January 6, 1978 relating to data processing, files and freedoms.</p>
            <p>Under the Data Protection Act, dated January 6, 1978, the User has a right of access,</p>
            <p>rectification, deletion and opposition of their personal data. The User exercises this right via a contact form and his personal space.</p>
            <p>Any use, reproduction, distribution, marketing, modification of all or part of the Site,</p>
            <p>without the permission of the Publisher is prohibited and could lead to legal action and prosecution</p>
            <p>as provided in particular by the Intellectual Property Code and the Civil Code.</p>
        </div>

        <p class="text-light text-center">Written on <a target="_blank" href="http://legalplace.fr">http://legalplace.fr</a></p>
    </div>

{% endblock %}