{% extends 'base.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}

<div class="row errors">
    <h2 class="text-center text-danger">This page does not exist!</h2>
    <h3 class="text-center text-light">Return to Home.</h3>
    <a id="errorsBtns" class="mt-4" href="{{ path('home') }}">Home</a>
</div>

{% endblock %}